body {
    background-color: #222222;
    padding: 0;
    margin: 0;
}


/* Responsiveness */

* {
    box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}


/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}


/* Background */

.index-image-display {
    background-image: url("../images/hobby-imkerei-lueck-hauptstadtbiene.jpg");
    background-size: cover;
    height: 360px;
    background-color: red;
}

#copyright-background {
    border-top-width: 1px;
    border-top-style: solid;
    background-color: #292929;
}

.border-bottom-1px {
    border-bottom-width: 1px;
    border-color: black;
    border-bottom-style: solid;
}

#footer-top-border {
    margin-top: 20px;
    border-top-width: 1px;
    border-top-style: dashed;
    border-color: grey;
}

#image-display-yellow-transition {
    border-bottom-width: 25px;
    border-bottom-style: solid;
    border-bottom-color: #eed500;
}


/* DIVS */

.full-scale {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.image-display {
    max-width: 100%;
    height: 360px;
    display: flex;
    align-items: center;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.center {
    display: inline-block;
}

.center-text {
    text-align: center;
}


/* FONTS */

h1 {
    font-size: 2em;
    font-family: 'Varela Round', sans-serif;
    color: white;
}

h2 {
    font-size: 1.45em;
    font-family: 'Varela Round', sans-serif;
    /* honey color */
    color: #eed500;
    font-weight: 400;
}

h3 {
    font-size: 1.35em;
    font-family: 'Varela Round', sans-serif;
    color: white;
}

p {
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
    color: white;
    margin: 10px;
}

li {
    font-size: 1.15em;
    font-family: 'Varela Round', sans-serif;
    display: inline-block;
    padding: 10px 5px;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    font-size: 1.15em;
    font-family: 'Varela Round', sans-serif;
    color: #eed500;
    text-decoration: none;
}

a:visited {
    color: grey;
}

a:active {
    color: white;
}

a:hover {
    color: #fbee81;
}

#hauptstadtbiene {
    color: #eed500;
    font-size: 1.5em;
}

.a-logo {
    font-size: 1.15em;
    font-family: 'Varela Round', sans-serif;
    color: #eed500;
    text-decoration: none;
}

.a-logo:visited {
    color: #eed500;
}

.a-logo:active {
    color: #eed500;
}

.a-logo:hover {
    color: #eed500;
}

.a-menu {
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
    color: white;
    text-decoration: none;
}

.a-menu:visited {
    color: white;
}

.a-menu:active {
    color: #eed500;
}

.a-menu:hover {
    color: #fbee81;
}


/* Float clears */

.clearfix {
    overflow: auto;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.clear-both {
    clear: both;
}


/* margin - paddings */

.padding-bottom-15 {
    padding: 0px 0px 30px 0px;
    margin: 0px 0px 30px 0px;
}